div
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="body")
    .m-edit: .has-tips.manual(ld="error-root")
      input.form-control(type="text",ld="input")
      .hover-tip.tip-sm: div(ld-each="error")
    .m-view: div(ld="content")
