div
  .form-group.has-tips(plug="widget",ld="base error-root")
    div(ld="display",data-display="block"): label.d-flex.align-items-end.flex-wrap
      div
        span(ld="label")
        span.text-danger.ml-2(ld="is-required") *
      .flex-grow-1
      .m-edit: .mf-note.text-sm(ld="limitation")
    .text-sm.text-muted(ld="display", data-display="block"): div(ld="desc", style="margin:-.6em 0 .7em")
    .m-edit
      input.form-control(type="text",ld="input")
      .hover-tip.tip-sm: div(ld-each="error")
    .m-edit(ld="display",data-display="block"): .mf-note.text-sm.mt-2.note(ld-each="note")
    .m-view: div(ld="content")
  script(type="@plotdb/block"): include:lsc index.ls
